body { margin:0; background:#000; color:white; font-family:sans-serif; }

header {
    text-align:center;
    padding:1rem;
    font-size:2rem;
    color:#60a5fa;
    background:#0a0a0a;
}

.controls {
    display:flex;
    gap:10px;
    justify-content:center;
    padding:10px;
    background:#111;
}

button {
    padding:10px 18px;
    border:none;
    border-radius:20px;
    background:#222;
    color:white;
    cursor:pointer;
}

button.active { background:#3b82f6; }

#location-btn {
    background:linear-gradient(135deg,#3b82f6,#1e40af);
}

#map { height:650px; }

/* WEATHER PANEL */
#weather-box {
    position:absolute;
    left: 5px;
    top: 350px;
    background: #1642e3;
    padding: 5px;
    border-radius: 12px;
    width: 260px;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    z-index: 1000; /* 🔥 ADD THIS */
}

/* DETAILS PANEL */
#detailspanel {
    position: fixed;
    right: 20px;
    top: 100px;
    background: #111;
    padding: 20px;
    border-radius: 12px;
    width: 260px;
    display: none;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    z-index: 1000; /* 🔥 ADD THIS */
}